<?xml version="1.0" encoding="UTF-8"?>
<!-- - - Licensed under the Apache License, Version 2.0 (the "License"); 
	- you may not use this file except in compliance with the License. - You 
	may obtain a copy of the License at - - http://www.apache.org/licenses/LICENSE-2.0 
	- - Unless required by applicable law or agreed to in writing, software - 
	distributed under the License is distributed on an "AS IS" BASIS, - WITHOUT 
	WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. - See the 
	License for the specific language governing permissions and - limitations 
	under the License. -->
<!DOCTYPE mycat:server SYSTEM "server.dtd">
<mycat:server xmlns:mycat="http://org.opencloudb/">
	<system>
		<property name="defaultSqlParser">druidparser</property>
		<property name="processors">16</property>
		<property name="processorBufferChunk">4096</property>
		<property name="processorBufferPool">163840000</property>
		<property name="processorExecutor">32</property>
		<property name="sequnceHandlerType">1</property>
		<property name="processorCheckPeriod">3000</property>
		
		
		
	
	</system>

	<user name="doc_test">
		<property name="password">test</property>
		<property name="schemas">duantTest</property>
		<property name="usingDecrypt">0</property>
		<property name="benchmark">500</property>
	</user>
	
	<user name="test">
		<property name="password">test</property>
		<property name="schemas">bill</property>
		<property name="usingDecrypt">0</property>
		<property name="benchmark">500</property>
	</user>
	
	<user name="admin">
		<property name="password">123</property>
		<property name="schemas">duantTest,bill</property>
	</user>

</mycat:server>